QQBOT_ONEBOT_ACCESS_TOKEN=
QQBOT_NAPCAT_QQ=
QQBOT_SUPERUSERS=
QQBOT_CONFIG_FILE=./config/qqbot.toml
QQBOT_AI_KEY_OPENROUTER_ICU=
QQBOT_AI_KEY_CODEX_EVERYWHERE=
QQBOT_AI_KEY_RIGHTCODES=
QQBOT_AI_KEY_HICODE=
QQBOT_AI_KEY_ROUTIN=
QQBOT_AI_KEY_TOKENFLUX=
QQBOT_AI_KEY_XIAOMI=
FACTORIO_USERNAME=
FACTORIO_TOKEN=
